<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ProQuest_Preethi">
<listeners>
<listener class-name="com.proquest.basics.ITest"></listener>
</listeners>
  <test thread-count="5" name="Regression">
  <classes>
  <!--  <class name="com.proquest.basics.TitlesToTextFile"></class>-->
  <class name="com.proquest.basics.Screenshot">
  </class>
  </classes>
  </test> <!-- Regression -->
</suite> <!-- ProQuest_Preethi -->
